@import url('https://fonts.googleapis.com/css2?family=Anton&family=Viga&display=swap');

body{
    background: linear-gradient(90deg, rgb(255, 190, 233), rgb(255, 97, 221)) ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: 80px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.2);

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.logo-header{
    width: 200px;
    margin: 0;
    padding: 0;
    height: auto;
    filter:
        drop-shadow(0 0 0 white)
        drop-shadow(0 0 8px rgb(244, 248, 255));

        transition: 0.3s;
}

.logo-header:hover{
    transform: scale(1.05s);
}


nav{
    display: flex;
    gap: 30px;
   
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: "Viga", sans-serif;
    color: zrgb(119, 0, 60);
    font-size: 20px;
    transition: 0.3s;
}
a:hover{
    color: white;
}

main{
    margin-top: 130px;
}

.conteudo-principal{
    display: flex;    
    flex-direction: column;
    margin-top: 130px;
    padding: 50px;
}

.conteudo-principal-dizeres{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-prin{
    font-family: "Anton", sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 0;
    color: rgb(89, 249, 255);
    text-shadow: 0 4px 20px rgb(139, 139, 139);
}
.subtitulo-prin{
    font-family: "Viga", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: rgb(112, 0, 79);
    text-shadow: 0 4px 20px rgb(75, 75, 75);
}

.conteudo-principal-amostra{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin:50px 0;
}
.conteudo-principal-img{
    height: 500px;
    filter: drop-shadow(0 10px 10px black);
    
}

details{
    
    padding: 20px 40px;
    border-radius: 16px;
    background-color: rgb(228, 8, 191);
    line-height: 30px;
    margin-top: 10%;
    cursor: pointer;
    box-shadow: 0 0px 30px rgba(88, 88, 88, 0.534);
}

summary{
    color: aliceblue;
    font-family: "Viga", sans-serif;
    font-size: 30px;
    transition: 0.3s;
}

summary:hover{
    color: aqua;
}


.opcoes{
    font-family: "Viga", sans-serif;
    font-size: 20px;
}

.tipo-lista{
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}

.conteudo-principal-mostruario{
    display: flex;
    
    gap: 30px;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    
}
.img-most{
    height: 380px;
    border-radius: 20px;
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.493));
}
 footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px white solid;
    padding: 35px;
    background-color: rgb(134, 7, 77);
    font-family: "Viga", sans-serif;
    color: white;
 }